In [5]:
%reload_ext autoreload
%autoreload 2
import requests
from lib import MongoHandler, WeatherGetter
import json
import pandas as pd
import numpy as np
import sqlite3
conn = sqlite3.connect('database.sqlite')
cur = conn.cursor()
import lib

In [9]:
cur.execute ("""SELECT Date
                FROM Matches
                WHERE SEASON = 2011 
                ;""")
match_dates_df= pd.DataFrame(cur.fetchall())
match_dates_df.columns = [x[0] for x in cur.description]
match_dates_df.head()

         Date
0  2012-03-31
1  2011-12-11
2  2011-08-13
3  2011-11-27
4  2012-02-18